<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="domidt.github.io">{{ Dominik Schmidt }}</a></h1>

        {% if site.logo %}
          <img src="Dominik Schmidt.jpg" alt="Logo" />
          ![Dominik Schmidt](File: "Dominik Schmidt.jpg")
        {% endif %}

        <p>PhD candidate in Economics</p>

        {% if site.github.is_user_page %}
        <p class="view"><a href="site.github.domidt">View My GitHub Profile</a></p>
        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="site.github.domidt">Dominik Schmidt</a></p>
      </footer>
    </div>
  </body>
</html>
