<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="https://domidt.github.io/">Dominik Schmidt</a></h1>

        {% if site.logo %}
          <img src="/assets/DominikSchmidt.png" alt="Logo" />
        {% endif %}
        <h3>PhD candidate in Economics </h3>
        <p>
        My research explores markets with asymmetric information. In particular, I focus on the effects of insider trading regulation in asset markets and the quality of advice in intermediary markets.
        </p>
        
        <h4><a href="https://domidt.github.io">Biography</a></h4><h4>
        <h4><a href="https://domidt.github.io/Education.html">Education</a></h4><h4>
        <h4><a href="https://domidt.github.io/Research.html">Research</a></h4><h4>
        <h4><a href="https://domidt.github.io/Conferences.html">Presentations</a></h4><h4>
        <h4><a href="https://domidt.github.io/Teaching.html">Teaching</a></h4><h4>

        {% if site.github.is_user_page %}
        <p><a href="https://github.com/domidt">View My GitHub Profile</a></p>
        {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="site.github.domidt">Dominik Schmidt</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
